/* Reset and Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to right, #dfdcff, #ffffff);
  padding: 0px;
}


/* Top Banner - full width, same for PC & mobile */
.top-banner {
  width: 100%;
  background: #885dff;
  padding: 10px;
  text-align: center;
  color: white;
  margin-bottom: 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.top-banner h1 {
  font-size: 1.8em;
  margin-bottom: 5px;
  color: white;
}

.top-banner .subtext {
  font-size: 1em;
  color: #f3f3f3;
}





/* Main container */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1rem
}



/* Notice */
.notice {
  height: 15.5rem;
  width: 32.5rem;
  background: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  color: #000000;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.137);
}

.notice h2 {
  color: #ff2b2b;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.notice ul {
  list-style: none;
  margin-bottom: 0.5em;
}

.notice li {
  margin-bottom: 0.3em;
}

/* Card */
.card {
  height: 15.5rem;
  width: 32.5rem;
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.11);
  text-align: center;
}

.card h3 {
  margin-bottom: 1em;
  color: #7b33ff;
  font-size: 1.2em;
}

.card input[type="file"],
.card input[type="text"] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
  font-size: 0.95em;
}

.card input[type="text"]:focus {
  border-color: #42a5f5;
}

/* Buttons */
.button-group {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-group button {
  flex: 1;
  min-width: 12em;
  padding: 0.5em;
  background: #8645ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.button-group button:hover:not(:disabled) {
  background: #3f0c91;
}

button:disabled {
  background: #b0bec5;
  cursor: not-allowed;
}


.loader-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}


/* Loader */
.loader {
  border: 0.5em solid #f3f3f3;
  border-top: 0.5em solid #814bff;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
  margin: 2em auto;
  display: none;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}





.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem
}

.preview-block {
  width: 30%;
  background: #fff;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  text-align: center;
  font-size: 0.9em;
}


.preview-img {
  width: 100%;
  max-height: 35em;
  object-fit: contain;
  background: #f0f0f0;
  margin-top: 0.3em
}

/* Download Button */
#downloadButton {
  width: 100%;
  padding: 10px;
  background: #8645ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
  margin-top: 5px;
}



.metrics {
  display: flex;
  flex-direction: column;
}


